################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Portfolio/FileContentIndex/516cc649-ca2f-4031-8db3-610daf0127b9.vsidx
