@{
    ViewBag.Title = "About";
}
<main>
    <img src="img.jpg" with="350px" hight="350px" alt=""
    <br />
    <h1> UdeO Sede Roosevelt </h1>
    <br />
    <br />
    <h3>Nombre: Gerson Isaac García León</h3>
    <h3>Carrera: Ingeniería en sistemas, Informática y CC de la Computación</h3>
    <h3>No. de Carné:2404002038</h2>

    </p>
    <h3>
</main>
  