@{
    ViewBag.Title = "About";
}
<main>
    <div style="text-align: left;">
        <img src="~/Content/img.jpg" alt="Mi foto de perfil" style="width: 150px; height: 150px; border-radius: 50%;">
    </div>
    <head>
        <br />
        <h1>Gerson Isaac García León</h1>
        <h3>Ingeniero en Sistemas</h3>
        </body>
        <hr />
        <br />
        <h4>Soy una persona que se esfuerza y persevera para alcanzar los objetivos que se propone, poniendo todo el conocimiento y la mejor actitud para lograrlo.</h4>
        <hr />
        <br />
        <br />
        <span style="color:blue"
    <br />
        <br />
        <br />
        <div class="skills-section">
            <h1 class="skills-title">HABILIDADES</h1>
            <hr />
            <ul
    <br />
        <h3>
        <li>Comunicación</li>
        <li>Capacidad analítica</li>
        <li>Pensamiento crítico</li>
        <li>Trabajo en equipo</li>
        </h3>

    </ul>
            <hr />


            <br />
            <br />
            <br />
            <br />
            <div class="skills-section">
                <h1 class="skills-title">CONOCIMIENTOS</h1>
                <hr />
                <ul
                <br />
                <h3>
                <li>Excel intermedio</li>
                <li>Word intermedio</li>
                <li>Programación en Pyton</li>
                <li>Programación en C#</li>
            </h3>
            </ul>
                <hr />

                <span />
</main>
    </table>
  